[Unit]
    Description=Musicfig
    After=network.target

[Service]
    User=pi
    Group=pi
    WorkingDirectory=%MUSICFIG_DIR%
    ExecStart=%PYTHON_PATH% %MUSICFIG_DIR%/run.py

[Install]
    WantedBy=multi-user.target
