<script type="text/javascript">
function title(text) {
    document.title = text;
}
title("{{ name or 'Musicfig' }}")
</script>
<style type="text/css">
{
  overflow: scroll;
  /*overflow-x: hidden;*/
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body::before{
    background: url({{ image_url or "/images/splash-800.jpg" }}) 0 / cover fixed;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    transform: scale(1.03);
}
body{
    margin: 0;
    padding: 0;
    font-family:Helvetica;
    text-shadow: 0px 0px 2px #000;
    color: #fff;
    height: 100%;
    position: relative;
}
img.art{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
    cursor: none;
}
img.art:empty{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.album{
    margin-bottom: -50px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer{
    height: 50px;
    text-align: center;
}
@media screen and (orientation: portrait) {
    img.art{
        max-width: 80%;
    }
}
@media screen and (orientation: landscape) {
    img.art {
        max-height: 80%;
    }
}
</style>
<body>
<div class="album">
    <img class="art" src="{{ image_url or "/images/splash-800.jpg" }}"><br/>
    <div class="footer"></div>
    <footer class="footer">
        <b>{{ name or "Musicfig"}}</b><br/>
        {{ artist or "by Dennis Mellican"}}</br>
        </br>
<!--IFRAME-->
    </footer>
</div>
</body>
